In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('heart_disease_uci.csv')
data.head()

,id,age,sex,dataset,cp,trestbps,chol,fbs,restecg,thalch,exang,oldpeak,slope,ca,thal,num
0,1,63,Male,Cleveland,typical angina,145.0,233.0,True,lv hypertrophy,150.0,False,2.3,downsloping,0.0,fixed defect,0
1,2,67,Male,Cleveland,asymptomatic,160.0,286.0,False,lv hypertrophy,108.0,True,1.5,flat,3.0,normal,2
2,3,67,Male,Cleveland,asymptomatic,120.0,229.0,False,lv hypertrophy,129.0,True,2.6,flat,2.0,reversable defect,1
3,4,37,Male,Cleveland,non-anginal,130.0,250.0,False,normal,187.0,False,3.5,downsloping,0.0,normal,0
4,5,41,Female,Cleveland,atypical angina,130.0,204.0,False,lv hypertrophy,172.0,False,1.4,upsloping,0.0,normal,0

In [3]:
data.isnull().sum()

id            0
age           0
sex           0
dataset       0
cp            0
trestbps     59
chol         30
fbs          90
restecg       2
thalch       55
exang        55
oldpeak      62
slope       309
ca          611
thal        486
num           0
dtype: int64

In [4]:
data.isnull().sum().sum()

1759

## Filling NULL values

In [5]:
data['trestbps'].fillna(value=data['trestbps'].mean(),inplace=True)
data['chol'].fillna(value=data['chol'].mean(),inplace=True)
data['fbs'].fillna(value=data['fbs'].mean(),inplace=True)
data['thalch'].fillna(value=data['thalch'].mean(),inplace=True)
data['exang'].fillna(value=data['exang'].mode,inplace=True)
data['oldpeak'].fillna(value=data['oldpeak'].mean(),inplace=True)
data['slope'].fillna(value=data['slope'].mode,inplace=True)
data['ca'].fillna(value=data['ca'].mean(),inplace=True)
data['thal'].fillna(value=data['thal'].mode,inplace=True)
data['restecg'].fillna(value=data['restecg'].mode,inplace=True)

In [6]:
data.isnull().sum().sum()

0

In [7]:
data.isnull().sum()

id          0
age         0
sex         0
dataset     0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalch      0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
num         0
dtype: int64

## Finding duplicate values

In [8]:
data_dup = data.duplicated().any()

In [9]:
data_dup

False

## Data processing

In [10]:
cat_val = []
num_val = []
for column in data.columns:
    if data[column].nunique() <= 10:
        cat_val.append(column)
    else:
        num_val.append(column)

In [11]:
cat_val

['sex',
 'dataset',
 'cp',
 'fbs',
 'restecg',
 'exang',
 'slope',
 'ca',
 'thal',
 'num']

In [12]:
num_val

['id', 'age', 'trestbps', 'chol', 'thalch', 'oldpeak']

## Encoding of categorical data

In [13]:
data['cp'].unique()

array(['typical angina', 'asymptomatic', 'non-anginal', 'atypical angina'],
      dtype=object)

In [14]:
data['num'].unique()

array([0, 2, 1, 3, 4], dtype=int64)

In [15]:
data['sex'].unique()

array(['Male', 'Female'], dtype=object)

In [17]:
data.describe()

,id,age,trestbps,chol,thalch,oldpeak,ca,num
count,920.000000,920.000000,920.000000,920.000000,920.000000,920.000000,920.000000,920.000000
mean,460.500000,53.510870,132.132404,199.130337,137.545665,0.878788,0.676375,0.995652
std,265.725422,9.424685,18.443895,108.957634,25.138494,1.053774,0.541667,1.142693
min,1.000000,28.000000,0.000000,0.000000,60.000000,-2.600000,0.000000,0.000000
25%,230.750000,47.000000,120.000000,177.750000,120.000000,0.000000,0.676375,0.000000
50%,460.500000,54.000000,130.000000,221.000000,138.000000,0.800000,0.676375,1.000000
75%,690.250000,60.000000,140.000000,267.000000,156.000000,1.500000,0.676375,2.000000
max,920.000000,77.000000,200.000000,603.000000,202.000000,6.200000,3.000000,4.000000